* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

header {
    background-image: url(https://images.unsplash.com/photo-1552083375-1447ce886485?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG5hdHVyZXxlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 1.5em;
    text-align: center;
}

ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 1.5em;
}

ul li a {
    text-decoration: none;
    color: white;
}

.bar {
    display: flex;
    justify-content: space-between;
    color: white;
}

.title {
    padding: 13em 0;
    color: white;
    line-height: 2.5em;
}

button {
    background-color: rgb(185, 185, 58);
    color: white;
    padding: 0.5em 1.9em;
    border-radius: 5%;
    border: 1px solid rgb(185, 185, 58);
}

section {
    text-align: center;
    margin: 0 auto;
    padding: 4em 4em;
}

section p, h2 {
    text-align: center;
    margin: 1em auto;
}

hr {
    color: rgb(189, 189, 18);
    width: 100px;
    border: 1.5px solid rgb(189, 189, 18);
    margin: 1.5em auto 3em auto;
}

.work {
    display: flex;
    flex-wrap: wrap;
}

.portfolio>p {
    margin: 0em 25em;
}

.work-s {
    flex-basis: 345px;
    flex-grow: 1;
    margin: 1em;
}

.work-l {
    flex-basis: 600px;
    flex-grow: 2;
    margin: 1em;
}

img {
    width: 100%;
}

.features {
    background-color: rgb(238, 238, 238);
}

.features i {
    color: rgb(189, 189, 18);
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.features1 {
    display: flex;
    flex-wrap: wrap;
}

.features>p {
    margin: 0em 25em;
}

.item {
    flex-basis: 30%;
    flex-grow: 1;
    margin: 1em;
}

.reviews div {
    margin: 3em 25em 0em 25em;
}

.newsletter>p {
    margin: 0 25em;
}

.newsletter {
    background-color: rgb(238, 238, 238);
}

input {
    height: 2em;
    margin-right: 1em;
    padding-left: 0.5em;
    border: 1px solid grey;
}

footer {
    background-color: rgb(46, 46, 46);
    color: white;
    padding: 3em;
    text-align: center;
}

footer i {
    font-size: 1.5em;
    margin: 0 0.3em 1em 0.3em;
}

@media (max-width: 1400px) {
    .portfolio>p {
        margin: 0em 20em;
    }

    .newsletter>p {
        margin: 0 20em;
    }

    .features>p {
        margin: 0em 20em;
    }

    .reviews div {
        margin: 3em 20em 0em 20em;
    }

}

@media (max-width: 1100px) {
    .portfolio>p {
        margin: 0em 18em;
    }

    .newsletter>p {
        margin: 0 18em;
    }

    .features>p {
        margin: 0em 18em;
    }

    .reviews div {
        margin: 3em 8em 0em 8em;
    }
    
    .item {
        flex-basis: 100%;
        margin: 1em 10em;
    }

    .title {
        padding: 10em 0;
        line-height: 2em;
    }
}

@media (max-width: 990px) {
    .portfolio>p {
        margin: 0em 8em;
    }

    .newsletter>p {
        margin: 0 8em;
    }

    .features>p {
        margin: 0em 8em;
    }

    .reviews div {
        margin: 3em 5em 0em 5em;
    }
    
    .bar {
        display: block;
        line-height: 2em;
    }

    ul li {
        margin-right: 0.7em;
    }

    input {
        display: block;
        margin: 0 auto 1em auto;
    }

    .title {
        padding: 8em 0;
        line-height: 2em;
    }
}
